.benefits {
  padding-bottom: 120px;
  position: relative;
  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-family: 'Stapel Expanded', sans-serif;
    font-size: 36px;
    line-height: 145%;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color);
    width: 100%;
    max-width: 742px;
    margin: 0 0 40px auto;
  }

  &__subtitle {
    font-family: 'Stapel Expanded', sans-serif;
    font-size: 24px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color);
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }

  &__item {
    border: 1px solid var(--color);
    border-radius: 17px;
    padding: 38px 25px;
  }

  &__item-img {
    width: 100%;
    max-width: 40px;
    display: flex;
    margin-bottom: 10px;
  }

  &__item-title {
    font-family: 'Stapel Extra', sans-serif;
    font-size: 24px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #8348e4;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.05em;
  }

  &__bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 260px;
    display: flex;
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .benefits {
    &__bg {
      display: none;
    }
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      font-size: 18px;
      max-width: 400px;
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 550px) {
  .benefits {
    padding-bottom: 60px;
    &__title {
      font-size: 18px;
      margin-bottom: 30px;
    }
    &__subtitle {
      margin-bottom: 30px;
    }

    &__items {
      grid-row-gap: 20px;
    }
    &__item {
      padding: 18px;
    }
    &__item-title {
      font-size: 18px;
      margin-bottom: 6px;
    }
    &__item-text {
      font-size: 14px;
    }
  }
}
